extends layout

block content
  h1= title
  p Welcome to Ajay Makkena
  br 
  button(type="button", class="btn btn-secondary" onClick="update()") Press Me
  br
  br
  div(id="target") Display
  br
  br
